{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Герои</h1>
    <br>
    <h3>Ближний бой</h3>
    <ul>
        {% for hero in melee_heroes %}
            <a href="{% url 'guides:hero_details' hero.slug %}">
                <li><img src="{{ hero.portrait.url }}" alt="{{ hero.name }}" /></li>
            </a>
        {% endfor %}
    </ul>

    <h3>Дальний бой</h3>
    <ul>
        {% for hero in ranged_heroes %}
            <a href="{% url 'guides:hero_details' hero.slug %}">
                <li><img src="{{ hero.portrait.url }}" alt="{{ hero.name }}" /></li>
            </a>
        {% endfor %}
    </ul>
    <h3>Саппорты</h3>
    <ul>
        {% for hero in support_heroes %}
            <a href="{% url 'guides:hero_details' hero.slug %}">
                <li><img src="{{ hero.portrait.url }}" alt="{{ hero.name }}" /></li>
            </a>
        {% endfor %}
    </ul>
{% endblock %}

