{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
{#    <link rel="stylesheet" href="{% static 'article_row.css' %}">#}
    <link rel="stylesheet" href="{% static 'foundation-icons/foundation-icons.css' %}">
{% endblock %}


{% block content %}

    <div class="grid-container fluid">
  <div class="grid-x grid-margin-x">
        <div class="cell small-9">
            {% include 'news_raw.html' %}
        </div>
              <div class="cell small-3">
          {% include 'guestbook/guestbook.html' %}
        </div>

       </div>
       </div>

{% endblock %}
